body {
  margin: 0px;
}
div {
  display: flex;
  flex-direction: column;
}

.whole {
  flex-direction: row;
  justify-content: space-between;
}

.links {
  height: 100vh;
  width: 18%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #2424c2;
}

.step-link {
  width: 76%;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 7px;
}
.step-link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.all-steps {
  width: 81%;
  height: 100vh;
  overflow: auto;
  flex-flow: wrap;
}
.steps {
  height: 100vh;
  width: 100%;
  border-top: 1px solid gray;
  align-items: center;
  position: relative;
}

.step {
  height: 80%;
  width: 76%;
  justify-content: center;
}

.input-buttons {
  text-align: center;
  background-color: deepskyblue;
  height: 36px;
  width: 144px;
  border-radius: 36px;
  color: white;
  font-family: monospace;
  font-size: 18px;
  border-style: unset;
  cursor: pointer;
}
.label.div {
  flex-direction: row;
  font-family: monospace;
}

.stagename {
  margin-bottom: 0px;
}


textarea:focus {
  min-height: 36vh;
}

.multi-inputs-container {
  display: flex;
  max-height: 200px;
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
}

.multi-inputs-container > span {
  border: 1px solid #cecece;
  margin: 3px;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 17px;
}


.multi-inputs-container > span > span {
  opacity: 0.36;
  transition:opacity 0.36s;
  cursor: pointer;
  margin-left: 18px;
  color: #777;
}

.multi-inputs-container > span:hover > span {
  opacity: 0.9;
}

.step > div:nth-child(2) {
  flex-direction: row;
  flex-wrap: wrap;
}

.step > div:nth-child(2) > input {
  min-width: 90%;
}

.step > div:nth-child(2) > textarea {
  width: 90%;
}

.step > div:nth-child(2) > button {
    width: fit-content;
    border: 1px solid #cecece80;
    border-radius: 7px;
    cursor: pointer;
    margin: 1.5px;
    padding: 1.5px 7px;
}

.search-container {
	border: 2px solid #cecece;
}

.search-child { 
	border-bottom: 1px solid #cecece;
}

header {
  position: fixed;
  top: 0;
  width: 81%;
  left: 18%;
  display: flex;
  height: 12vh;
  box-shadow: 10px 5px 3px #bfbfbf2e;
  justify-content: center;
  background: #fff;
  align-items: center;
}

#Kadesh-banner-text {
  font-size: 18px;
  font-weight: 700;
}

.options-button {
  border-radius: 100%;
  border: 1px solid #bfbfbf8a;
  position: absolute;
  bottom: 7vh;
  right: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 7px #bfbfbf8a;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.options-button > a > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  margin-top: -0.5em;
  line-height: 0.18em;

}
.options-button > a {
  text-decoration: none;
}

